@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
}
/* Light theme colors */
body[data-theme='light'] {
	--color-1: hsl(0, 0%, 100%);
	--color-2: hsl(225, 100%, 98%);
	--color-3: hsl(227, 47%, 96%);
	--color-4: hsl(230, 12%, 44%);
	--color-5: hsl(230, 17%, 14%);
	--toggle: hsl(230, 22%, 74%);
	--hr: hsl(230, 12%, 44%);
	--toggle-bg: hsl(228, 12%, 44%);
}
/* Dark theme colors */
body[data-theme='dark'] {
	--color-1: hsl(230, 17%, 14%);
	--color-2: hsl(232, 19%, 15%);
	--color-3: hsl(228, 28%, 20%);
	--color-4: hsl(228, 34%, 66%);
	--color-5: hsl(0, 0%, 100%);
	--hr: hsl(228,25%,27%);
	--toggle: hsl(228, 28%, 20%);
	--toggle-bg: linear-gradient(to left,#388FE7, #40DB82);
	
}
body {
	font-family: 'Inter', sans-serif;
	color: var(--color-5);
  background-color: var(--color-1);
  min-width: 375px;
}

h2 {
	font-size: 14px;
	color: var(--color-4);
	font-weight: 400;
	line-height: 2rem;
}

header {
  padding: 25px;
	height: 235px;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-direction: column;
  background-color: var(--color-2);
}

#title-main {
  font-size: 24px;
	font-weight: 700;
}

#theme-switcher {
height: 24px;
display: flex;
justify-content: space-between;
align-items: center;
}

header hr {
	margin: 25px auto;
 	border-radius: 1px;
	width: 100%;
	border: 1px solid var(--hr);
}

#switch {
	display:flex;
	justify-content: space-between;
	align-items: center
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container {
	width: 80%;
	margin: 0 auto;
	background-color: var(--color-2);
	border-radius: 8px;
	padding: 20px;
	max-width: 500px;
}

/* p {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 25px;
} */
button {
	background-color: var(--color-4);
	padding: 10px 30px;
	border: none;
	font-size: 24px;
	text-transform: uppercase;
	color: var(--color-2);
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
}

/* .theme-switcher{
  position: absolute;
  right: 30px;
  top: 10px;
} */

input {
	width: 0;
	height: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	display: block;
	text-indent: -9999px;
	height: 30px;
	width: 60px;
	background-color: var(--toggle);
	border-radius: 50px;
	position: relative;
	transition: 0.5s ease background-color;
}
label::after {
	position: absolute;
	content: '';
	width: 24px;
	height: 24px;
	border-radius: 50px;
	background-color: var(--color-3);
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	transition: 0.5s ease;
}
input:checked + label {
	background: linear-gradient(to left,#388FE7, #40DB82);
}

input:checked + label::after {
	background-color: var(--toggle);
	left: calc(100% - 25px);
}

#social-platforms {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: -60px auto;
}

.platform-container {
	width: 326px;
	height: 216px;
	background: var(--color-3);
	margin: auto;
}

.platform {
	display: flex;
	justify-content: center;
}

.platform img {
	padding-right: 1rem;
}

.followers span:first-of-type {
	font-size: 56px;
	font-weight: 700;
	letter-spacing: -2px;
}

.followers span:last-of-type {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 5px;
}

.today {

}

.up {
	
}


.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
